<main>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active"><a href="#">Home</a></li>
				</ol>
				<div class="jumbotron">
					<h1>All lessons</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, soluta.</p>
				</div>
			</div>
		</div>
		<div class="d-flex flex-row justify-content-center">
			<table class="table table-striped table-margin table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Number Of Lessons</th>
						<th>Paid</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Architecture</td>
						<td>10</td>
						<td>N</td>
						<td>
							<div class="d-flex justify-content-around">
								<button type="button" class="btn btn-secondary">Launch</button>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Tempalate & Data Binding</td>
						<td>12</td>
						<td>N</td>
						<td>
							<div class="d-flex justify-content-around">
								<button type="button" class="btn btn-secondary">Launch</button>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Routing</td>
						<td>25</td>
						<td>Y</td>
						<td>
							<div class="d-flex justify-content-around">
								<button type="button" class="btn btn-secondary">Launch</button>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>Dependency Injection</td>
						<td>15</td>
						<td>Y</td>
						<td>
							<div class="d-flex justify-content-around">
								<button type="button" class="btn btn-secondary">Launch</button>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Testing</td>
						<td>10</td>
						<td>N</td>
						<td>
							<div class="d-flex justify-content-around">
								<button type="button" class="btn btn-secondary">Launch</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
